<div style="min-height: 100vh;" class="d-flex align-items-center justify-content-center">
  <div class="text-center">
    <code style="color: rgb(90, 41, 0);font-weight: 600;">
                      _oo0oo_<br>
                     o8888888o<br>
                      88" . "88<br>
                      (| -_- |)<br>
                      0\  =  /0<br>
                   ___/`---'\___<br>
                  .' \\|     |// '.<br>
                / \\|||  :  |||// \<br>
               / _||||| -:- |||||- \<br>
              |   | \\\  -  /// |   |<br>
              | \_|  ''\---/''  |_/ |<br>
              \  .-\__  '-'  ___/-. /<br>
             ___'. .'  /--.--\  `. .'___<br>
          ."" '<  `.___\_<|>_/___.' >' "".<br>
         | | :  `- \`.;`\ _ /`;.`/ - ` : | |<br>
         \  \ `_.   \_ __\ /__ _/   .-` /  /<br>
     =====`-.____`.___ \_____/___.-`___.-'=====<br>
                       `=---='<br>
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
               佛祖保佑         通過測驗<br>

        </code>
    <br>
    <div class="row">
      <div class="col-6 my-1">
        <a class="btn btn-danger btn-block p-2" routerLink="/test">一階測驗</a>
        <a class="btn btn-block p-2" routerLink="/question_db_one" style="background-color:rgb(163, 88, 182);color: white;">一階題庫</a>
      </div>
      <div class="col-6 my-1">
        <div class="dropup mb-2">
          <a class="btn  btn-info dropdown-toggle btn-block p-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            二階測驗
          </a>
        
          <div class="dropdown-menu dropdown-menu-right menu_bg" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item text-white font-weight-bolder menu_a_bg" routerLink="/test_two_tfq">是非題</a>
            <a class="dropdown-item text-white font-weight-bolder menu_a_bg" routerLink="/test_two_mcq">選擇題</a>
            <a class="dropdown-item text-white font-weight-bolder menu_a_bg" routerLink="/test_two">綜合題</a>
          </div>
        </div>
        <a class="btn btn-block p-2" routerLink="/question_db_two" style="background-color:rgb(255, 81, 0);color: white;">二階題庫</a>
      </div>
    </div>
  </div>
</div>